.App {
  text-align: center;
 
}

.f-style{
  font-family:Arial, Helvetica, sans-serif;
}

@media screen and (max-width:900px) {
  .column{
    width: 70% !important;
  }
}

.head{
  font-size: larger !important;
}

.btn{
  background-color: #7676fa !important;
  color : white;
}

.fin{
  color: #b5bac2 ;
}

a{
  margin-left: 2% !important;
  color: #181836 !important;
}

.login-signup{
  overflow-x: hidden !important;
}

input:focus,input:valid {
  background: rgb(255, 255, 255) !important;
}

